
@font-face {
    font-family: 'ralewaythin_italic';
    src: url('fonts/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fintfamily{
font-family: ralewaythin_italic;
}




body{
     margin-left: 25px;
   margin-right: 25px;
}
.reservia{
display: grid;
grid-template-columns: 60% 40%;
grid-gap: 3px;
margin-top: 30px;
}
.photoreservia{

height:40px;

}
.imageres{
     height: 44px;
}
.liste{
height: 40px;

display: grid;
grid-template-columns:30%  30%  30% 5%;
justify-content: center;
 justify-items: center;
 align-items: center;

}
.hebergement:hover{
color: #0065FC;
    border-top: 1px solid #0065FC ;

}
.Avtivité:hover{
color: #0065FC;
    border-top: 1px solid #0065FC;
}
.sinscrire:hover{
 color: #0065FC;
    border-top: 1px solid #0065FC;   
}
.reservia1{
     display: none;
}
/*--bare de recherche--*/
.barcherch{
    display: grid;
    grid-template-columns:3% 10% 6%;
    
}
.maps{
height: 40px;
background-color:  #F2F2F2;
display: grid;
grid-template-columns: 20%;
justify-content: center;
align-items: center;
border-radius: 15px 0px 0px 15px;
}
.pays{
height: 40px;

display: grid;
grid-template-columns: 100%;
}
.recherch{
height: 40px;
background-color: #0065FC;
border-radius: 0px 15px 15px 0px;
display: grid;
grid-template-columns: 70%;
justify-content: center;
align-items: center;
}
.iconmaps{
    height: 20px;
     
}

input{
    width: 100%;
height: 40px;
border:2px solid #F2F2F2;
}
.Recherche{
    height: 20px;
    color: white;

}
.barcherch2{
    display: none;
}

.search{
    display: none;
}
/*--catégorise--*/
.catégorie{
     display: grid;
     grid-template-columns: 5% 10% 8% 9% 13%;
     grid-gap: 17px;
    margin-top: 20px;
}
.filtre{
     
      height:40px ;
    
    display: grid;
    grid-template-columns: 40%;
   align-items:center;
    justify-content: center;
}
.economique{
     height:42px ;

display: grid;
grid-template-columns: 28% 70%;
grid-gap: 8px;
justify-content: center;
align-items: center;
border-radius: 35px 35px 35px 35px;
border: 3px solid #F2F2F2;
}
.mony1{
     height: 40px;
background-color: #DEEBFF;
display: grid;
grid-template-columns: 50%;
justify-content: center;
align-items: center;
border-radius:35px 35px 35px 35px ;
color: #0065FC;
}
.mony2{
     height: 20px;

}
.famillial{
     height:40px ;

display: grid; 
grid-template-columns: 33% 50%;
grid-gap: 8px;
align-items: center;
border-radius: 35px 35px 35px 35px;
border: 3px solid #F2F2F2;
}
.child1{
     height: 40px;
background-color: #DEEBFF;
display: grid;
grid-template-columns: 40%;
justify-content: center;
align-items: center;
border-radius: 35px 35px 35px 35px;
color: #0065FC;

}
.child2{
height: 20px;

}
.romantique{
     height:40px ;

display: grid;
grid-template-columns: 28% 66%;
grid-gap: 9px;
justify-content: center;
align-items: center;
border-radius:35px 35px 35px 35px;
border: 3px solid #F2F2F2;
}
.cour1{
height: 40px;
background-color: #DEEBFF;
display: grid;
grid-template-columns: 47%;
justify-content: center;
align-items: center;
border-radius:40px 40px 40px 40px ;
color: #0065FC;
}
.cour2{
   height:20px ;  
}

.animaux{
     height: 40px;
     display: grid;
     grid-template-columns: 22% 70%;
     grid-gap: 8px;
     border-radius:35px 35px 35px 35px ;
     align-items: center;
     border: 3px solid #F2F2F2;
    

}
.chien1{

height:40px ;
background-color:#DEEBFF;
display: grid;
grid-template-columns: 47%;
justify-content: center;
align-items: center;
border-radius:40px 40px 40px 40px ;
color: #0065FC;
}
.chien2{   
  height: 20px;

}

.catégorie1{
     display: none;
}
/*--info--*/

.info{
display: grid;
grid-template-columns: 2% 35%;
grid-gap: 8px;
margin-top: 14px;
margin-bottom: 20px;

}
.iconinfo{
height:28px;

display: grid;
grid-template-columns: 5%;
justify-content: center;
align-items: center;
border-radius: 20px 20px 20px 20px;
border: 3px solid #F2F2F2;
}
.iconinfo1{
   height:28px;
 margin-top: 2px;
display: grid; 
grid-template-columns: 80%;

align-items: center;

}
/*--hébergement marseil--*/
.hber1{
height: 700px;
background-color:#F2F2F2 ;
 border-radius: 15px 15px 15px 15px;


}
.hber2{
 height: 700px;
background-color:#F2F2F2 ; 
 border-radius: 15px 15px 15px 15px;   
}

.géneral{
     display: grid;
     grid-template-columns: 69% 30%;
     grid-gap: 23px;

}

.classeur1{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-gap: 20px;
    justify-content: center;

}
.photo1{

background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
 border: 4px solid white;
 box-shadow: 0px 5px 4px #F2F2F2;

}
.photo2{
background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
 border: 4px solid white;
  box-shadow: 0px 5px 4px #F2F2F2;
}
.photo3{
background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
border: 4px solid white;
 box-shadow: 0px 5px 4px #F2F2F2;
}
.photo4{
background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
border: 4px solid white;
 box-shadow: 0px 5px 4px #F2F2F2;
}
.photo5{
background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
border: 4px solid white;
 box-shadow: 0px 5px 4px #F2F2F2;
}
.photo6{
background-color: white;
height: 250px;
border-radius: 15px 15px 15px 15px;
border: 4px solid white;
 box-shadow: 0px 5px 4px #F2F2F2;
}

.marcus{
     width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;
}
.fred{
   width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;   
}
.reisetopia{
  width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;    
}
.sprat{
   width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;    
}
.ZyaiwBe{
width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;      
}
.brian{
   width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;   
}
.rous{
     margin-left: 63px;
}

/*--les plus populaire--*/
.classeur2{
display: grid;
grid-template-columns: 80%;
grid-gap: 35px;
justify-content: center;
align-items: center;
}
.pop1{
height: 150px;

}
.pop2{
 height: 150px;


}
.pop3{
 height:150px;

}
.flèche{
     display: grid;
     grid-template-columns: 40% 30%;
    grid-gap: 3px;
    justify-content: space-between;
    margin-left: 45px;
}
.flèche1{
     display: grid;
     grid-template-columns: 30%;
     justify-content: center;
     align-items: center;
}

.pop1{
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 1px;
}
.hotel1{
 height: 150px;
 background-color:white;
 border-radius: 15px 0px 0px 15px;
}
.text1{
height: 150px;
 background-color: white;
 border-radius: 0px 15px 15px 0px;
 border: 4px solid white;
}

.klebs{
     width: 100%;
     height: 150px;
     border-radius:  15px 0px 0px 15px;
     border: 4px solid white;
}
.pop2{
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 1px;
}
.hotel2{
height: 150px;
 background-color:white;
 border-radius: 15px 0px 0px 15px;
}
.text2{
 height: 150px;
 background-color:white;
 border-radius: 0px 15px 15px 0px; 
 border: 4px solid white;   
}
.awcrea{
   width: 100%;
     height: 150px;
     border-radius:  15px 0px 0px 15px;
     border: 4px solid white;   
}
.pop3{
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 1px;
}
.hotel3{
height: 150px;
 background-color:white;
 border-radius: 15px 0px 0px 15px;
}
.text3{
   height: 150px;
 background-color:white;
 border-radius: 0px 15px 15px 0px;
 border: 4px solid white;   
}
.zakaria{
 width: 100%;
     height: 150px;
     border-radius:  15px 0px 0px 15px;
     border: 4px solid white; 
}
/*--sous titre --*/

.grandehot1{
     margin-top: -10px;
     margin-left: 20px;
}
.grandehot2{
     margin-top: -14px;
     margin-left: 20px;
}
.grandehot3{
  margin-left: 20px; 
  margin-top: 3px;   
}
.colorstar{
     color: #0065FC;
}
.colorstar1{
     color: #F2F2F2;
}
.grandehot4{
     margin-top: 38px;
     margin-left: 20px;
}

/*--changedeplace--*/
.resptitre{
     display: none;
}

.classeurgénérale{
display: none;
}
.afiche{
     margin-left: 50px;
}
/*---activitémarseille---*/
.acteMars{
display: grid;
grid-template-columns: 21% 21% 21% 21%;
grid-gap: 80px;
justify-content: center;
margin-top: 45px;

}
.renola{

height: 460px;
box-shadow: 0px 5px 4px #F2F2F2;
border-radius: 20px;

}
.paulher{

height: 480px;
border-radius: 20px;
}
.kevinhik{

height: 460px;
border-radius: 15px;
box-shadow:  0px 5px 4px #F2F2F2;  
}
.Calanque{

height: 480px;
}
.reno{
     width: 100%;
     height: 400px;
     border-radius: 20px 20px 0px 0px;
}
.paulher{
     display: grid;
     grid-template-columns: 100%;
     grid-gap: 7px;
}
.paulher1{
  height:235px;
  
  border-radius:0px 0px 15px 15px ;
  box-shadow: 0px 5px 4px #F2F2F2;  
}
.paulher2{
  height: 180px;
 
  border-radius: 0px 0px 15px 15px ;  
    box-shadow: 0px 5px 4px #F2F2F2;  
}
.paul{
     width: 100%;
     height: 185px;
     border-radius: 15px 15px 0px 0px;
}

.hikari{
   width: 100%;
     height: 130px;
     border-radius: 15px 15px 0px 0px;   
}

.sockalingum{
   height:400px;
   width: 100%;
   border-radius: 15px; 
}

.Calanque{
display: grid;
grid-template-columns: 100%; 
grid-gap: 7px;
}
.Calanque1{
height:200px;
  
  border-radius:0px 0px 15px 15px ;
  box-shadow: 0px 5px 4px #F2F2F2;  
}
.Calanque2{
 height: 200px;

  border-radius: 0px 0px 15px 15px ;  
    box-shadow: 0px 5px 4px #F2F2F2;  
}
.florian{
 width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;       
}
.paulin{
   width: 100%;
     height: 150px;
     border-radius: 15px 15px 0px 0px;   
}
.titrmars{
     margin-left: 15px;
     margin-top: 10px;
}
/*--footer--*/
.footer{
     display: grid;
     grid-template-columns: 20% 20% 20%;
     grid-gap:200px;
     background-color: #F2F2F2;
   
     align-items: center;
     height: 200px;
     margin-top: 70px;
    


}

.footg{
height: 70px;
margin-left: 40px;
margin-top: -80px;



}
.footm{
height: 70px;
margin-top: -80px;



}
.footd{
height: 70px;
margin-top: -80px;


}
.footer1{
     margin-top: -8px;
}
a{
     text-decoration: none;
}
.coloricon{
     color: black;
}
.footerma{
     display: none;
}

.obsta{
     margin-left: 40px;
     margin-bottom: -40px;
     margin-top: 60px;
}
.obsta1{
     display: none;
}


@media screen and (max-width:700px){
    body{
        margin-left: 8px;
        margin-right: 8px;

    }
    .reservia{
     display: none;
    }
    .reservia1{
     display: grid;
     grid-template-columns: 100%;
    }
    
    .photolist1{
     display: grid;
     grid-template-columns: 40% 40%;
     grid-gap: 75px;

    }
    .sinscrire1{

   height: 50px;
   display: grid;
   grid-template-columns: 20%;
   justify-content: center;
   align-items: center;
   color: #0065FC;
    }
    
    .photolist2{
  height: 60px;
  
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -50%;

    }
    .hebergement1{
     height: 40px;
     
     display: grid;
     grid-template-columns: 57%;
     align-items: center;
     justify-content: center;
     color:  #0065FC;
       border-bottom: 2px solid #0065FC ;

    }
    .Avtivité1{
     height: 40px;
   
      display: grid;
     grid-template-columns: 30%;
     align-items: center;
     justify-content: center;
       border-bottom: 2px solid #F2F2F2;

    }
    /*--bare de recherche--*/
    .barcherch{
         grid-template-columns: repeat(3,10% 63% 10%); 
         margin-left: 10%;

    } 
    .Recherche{
        display: none;
    }
    .recherch{
        border-radius: 10px 10px 10px 10px ;
    }
   
    .search{
        display: flex;
        color: white;
        justify-content: center;
    }
    /*--catégorise--*/
    .catégorie{
      display: none;
    }
    .catégorie1{
      display:grid;
      grid-template-columns: 100%;
      grid-gap: 10px;
    }
    .ecofamil{
     display: grid;
     grid-template-columns: 44% 35%;
     grid-gap: 55px;

    }
    .ecofamil1{
     display: grid;
     grid-template-columns:100%;
     grid-gap: 10px;
    }
    .romantique{
     width: 40%;
     margin-top: -50px;
    }
    .animaux{
     width: 50%;
    }
    .filtre{
     width: 28%;
     margin-left: -20px;
     margin-bottom: -11px;
     margin-top: 8px;
    }
    /*--iconinfo--*/
    .info{
     margin-top: 30px;
     margin-bottom:30px ;
     grid-template-columns: repeat(2, 9% 90%);
    }
    .iconinfo{
     height: 28px;
     grid-template-columns: 4%;
    }
    
    /*--général--*/
    .géneral{
     display: grid;
     grid-template-columns: 100%;
     grid-gap: 2px;
    }

    .hber1{
     display: none;
    }
    .resptitre{
     display: flex;
    }
    .classeurgénérale{
     display: flex;
     display: grid;
     grid-template-columns: 100%;
     grid-gap: 17px;
    

    }
     .titre{
          margin-top: -30%;

     }
     .acteMars{
          display: grid;
          grid-template-columns: 100%;
          grid-gap: 7px;
     }
     .renola{
          height: 250px;
     }
     .reno{
          height: 180px;
     }
     .paulher1{
         height: 250px; 
     }
     .paul{
       height: 180px;   
     }
     .paulher3{
        height: 400px;
        margin-top: 20px;    
     }
     .hikari{
        height:180px; 
        margin-top: -15px;

     }
     .kevinhik{
        height: 250px;
        margin-top:120px;    
     }
     .sockalingum{
        height:180px;
        
     }
     .paulher{
          height:400px;
          margin-top: 15px;

     }
     .Calanque{
        height:540px; 
        margin-top: 10px;  
     }
     .Calanque1{
         height: 250px;  
     }
     .florian{
      height: 180px;     
     }
     .Calanque2{
        height: 250px;  
     }
     .paulin{
       height: 180px;    
     }
      .paulher2{
          height: 235px;
          margin-top:20px;
      }
       .obsta{
       margin-bottom: -14px;  
       }
       .afiche{
          margin-left: -1px;
       }
       /*--footer--*/
       .footerma{
          display: grid;
          grid-template-columns: 100%;
         grid-gap:2px;
          height:550px;
          margin-top:60px;
          background-color: #F2F2F2;

       }
      
       .footg{
         height:30px;
        margin-top: 14px;
      
         color: black;
       }
       .footm{
          height: 30px;
        
          margin-left: 35px;
          margin-top:2px;

       }
       .footd{
        height: 10px;
       margin-top: -25px;
        margin-left: 35px;
       }
       .footer{
          display: none;
       }
       .obsta1{
         display: flex;
         margin-bottom: -54px;
         margin-left: 5px;

       }
       .flèche{
         display: grid;
         grid-template-columns: 69% 30% ;
         grid-gap: 2px;
         justify-content: center;
         align-items: center;
       }
      
       .classeur2{
          display: grid;
          grid-template-columns:90%;
          grid-gap: 35px;
          justify-content: center;
          align-items: center;
       }
       .hber2{
         height: 650px;
         background-color:#F2F2F2 ; 
         border-radius: 15px 15px 15px 15px;   
          }
          .obsta{
               display: none;
          }

    }